<div class="banner">
    <div class="overlay">
        <div class="contenedor-banner">
            <h1>SI LO QUE NECESITAS ES VIAJAR Y HOSPEDARTE</h1>
        </div>
    </div>
</div>

<mat-tab-group dynamicHeight>
    <mat-tab label="Ofertas 1">
        <div class="example-large-box mat-elevation-z4">      
            <mat-card class="cr">
                <mat-card-title-group>
                <mat-card-title>Caribe</mat-card-title>
                <mat-card-subtitle>Salida desde Lima</mat-card-subtitle>
                <img mat-card-lg-image src="../../../assets/img/cancun.jpg" >
                </mat-card-title-group>
                <mat-card-content>
                    <p class="precio">
                      Precio desde : $232
                    </p>
                  </mat-card-content>
                  <mat-card-actions>
                    <button mat-raised-button color="primary" class="boton">Reservar</button>
                  </mat-card-actions>
            </mat-card>
        </div>
      </mat-tab>
    <mat-tab label="Ofertas 2">
      <div class="example-large-box mat-elevation-z4">
        <mat-card class="cr">
            <mat-card-title-group>
            <mat-card-title>Santiago de Chile</mat-card-title>
            <mat-card-subtitle>Salida desde Lima</mat-card-subtitle>
            <img mat-card-lg-image src="../../../assets/img/santiago-de-chile.jpg" >
            </mat-card-title-group>
            <mat-card-content>
                <p class="precio">
                  Precio desde : $232
                </p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-raised-button color="primary" class="boton">Reservar</button>
              </mat-card-actions>
        </mat-card>
      </div>
    </mat-tab>
    <mat-tab label="Ofertas 3">
        <div class="example-large-box mat-elevation-z4">
          <mat-card class="cr">
              <mat-card-title-group>
              <mat-card-title>Cartagena</mat-card-title>
              <mat-card-subtitle>Salida desde Lima</mat-card-subtitle>
              <img mat-card-lg-image src="../../../assets/img/cartagena.jpg" >
              </mat-card-title-group>
              <mat-card-content>
                  <p class="precio">
                    Precio desde : $232
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-raised-button color="primary" class="boton">Reservar</button>
                </mat-card-actions>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Ofertas 4">
        <div class="example-large-box mat-elevation-z4">
          <mat-card class="cr">
              <mat-card-title-group>
              <mat-card-title>Buenos Aires</mat-card-title>
              <mat-card-subtitle>Salida desde Lima</mat-card-subtitle>
              <img mat-card-lg-image src="../../../assets/img/buenos-aires.jpg" >
              </mat-card-title-group>
              <mat-card-content>
                  <p class="precio">
                    Precio desde : $232
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-raised-button color="primary" class="boton">Reservar</button>
                </mat-card-actions>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Ofertas 5">
        <div class="example-large-box mat-elevation-z4">
          <mat-card class="cr">
              <mat-card-title-group>
              <mat-card-title>Nuevo Mundo</mat-card-title>
              <mat-card-subtitle>Salida desde Lima</mat-card-subtitle>
              <img mat-card-lg-image src="../../../assets/img/p1.jpg" >
              </mat-card-title-group>
              <mat-card-content>
                  <p class="precio">
                    Precio desde : $232
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-raised-button color="primary" class="boton">Reservar</button>
                </mat-card-actions>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Ofertas 6">
        <div class="example-large-box mat-elevation-z4">
          <mat-card class="cr">
              <mat-card-title-group>
              <mat-card-title>Cancun</mat-card-title>
              <mat-card-subtitle>Salida desde Lima</mat-card-subtitle>
              <img mat-card-lg-image src="../../../assets/img/cancun.jpg" >
              </mat-card-title-group>
              <mat-card-content>
                  <p class="precio">
                    Precio desde : $232
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-raised-button color="primary" class="boton">Reservar</button>
                </mat-card-actions>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Ofertas 7">
        <div class="example-large-box mat-elevation-z4">
          <mat-card class="cr">
              <mat-card-title-group>
              <mat-card-title>Cancun</mat-card-title>
              <mat-card-subtitle>Salida desde Lima</mat-card-subtitle>
              <img mat-card-lg-image src="../../../assets/img/cancun.jpg" >
              </mat-card-title-group>
              <mat-card-content>
                  <p class="precio">
                    Precio desde : $232
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-raised-button color="primary" class="boton">Reservar</button>
                </mat-card-actions>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Ofertas 8">
        <div class="example-large-box mat-elevation-z4">
          <mat-card class="cr">
              <mat-card-title-group>
              <mat-card-title>Mexico</mat-card-title>
              <mat-card-subtitle>Salida desde Lima</mat-card-subtitle>
              <img mat-card-lg-image src="../../../assets/img/mexico.jpg" >
              </mat-card-title-group>
              <mat-card-content>
                  <p class="precio">
                    Precio desde : $232
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-raised-button color="primary" class="boton">Reservar</button>
                </mat-card-actions>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Ofertas 9">
        <div class="example-large-box mat-elevation-z4">
          <mat-card class="cr">
              <mat-card-title-group>
              <mat-card-title>Caribe</mat-card-title>
              <mat-card-subtitle>Salida desde Lima</mat-card-subtitle>
              <img mat-card-lg-image src="../../../assets/img/cancun.jpg" >
              </mat-card-title-group>
              <mat-card-content>
                  <p class="precio">
                    Precio desde : $232
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-raised-button color="primary" class="boton">Reservar</button>
                </mat-card-actions>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Ofertas 10">
        <div class="example-large-box mat-elevation-z4">
          <mat-card class="cr">
              <mat-card-title-group>
              <mat-card-title>Bogota</mat-card-title>
              <mat-card-subtitle>Salida desde Lima</mat-card-subtitle>
              <img mat-card-lg-image src="../../../assets/img//bogota.jpg" >
              </mat-card-title-group>
              <mat-card-content>
                  <p class="precio">
                    Precio desde : $232
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-raised-button color="primary" class="boton">Reservar</button>
                </mat-card-actions>
          </mat-card>
        </div>
      </mat-tab>
      <mat-tab label="Ofertas 11">
        <div class="example-large-box mat-elevation-z4">
          <mat-card class="cr">
              <mat-card-title-group>
              <mat-card-title>Guadalajara</mat-card-title>
              <mat-card-subtitle>Salida desde Lima</mat-card-subtitle>
              <img mat-card-lg-image src="../../../assets/img/mexico.jpg" >
              </mat-card-title-group>
              <mat-card-content>
                  <p class="precio">
                    Precio desde : $232
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-raised-button color="primary" class="boton">Reservar</button>
                </mat-card-actions>
          </mat-card>
        </div>
      </mat-tab>
</mat-tab-group>
  