@font-face {
    font-family: 'Sucrose Bold Two';
    src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/sucrose.woff2') format('woff2');
}

h1{
    font-size: 5rem;
    text-align: center;
    padding: 2rem 2rem;
    font-family: 'Sucrose Bold Two';
}
iframe{
    width: 100%;
    height: 500px;
}

@media only screen and (max-width:580px) {
    h1{
        font-size: 3.5rem;
        line-height: 3rem;
    }
}

@media only screen and (max-width:480px){
    h1{
        font-size: 3rem;
        line-height: 3rem;
    }
    iframe{
        width: 95%;
        margin-left: 0.5rem;
    }
}