<div class="banner">
    <div class="overlay">
        <div class="contenedor-banner">
            <h1>Los Mejores Hoteles a tu disposición</h1>
        </div>
    </div>
</div>

<h3>LO mas visitado</h3>
<p id="p">Oferta de hasta el 50% de descuento</p>

<mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Luna</mat-card-title>
      <mat-card-subtitle>Centro</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/img/h1.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        PRECIO DESDE:
      </p>
      <p class="precio">
        $232
      </p>
      <p>
        Elige tu próximo destino
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" class="boton">Reservar</button>
    </mat-card-actions>
</mat-card>

<mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Luna</mat-card-title>
      <mat-card-subtitle>Centro</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/img/h2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        PRECIO DESDE:
      </p>
      <p class="precio">
        $232
      </p>
      <p>
        Elige tu próximo destino
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" class="boton">Reservar</button>
    </mat-card-actions>
</mat-card>

<mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Luna</mat-card-title>
      <mat-card-subtitle>Centro</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/img/h3.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        PRECIO DESDE:
      </p>
      <p class="precio">
        $232
      </p>
      <p>
        Elige tu próximo destino
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" class="boton">Reservar</button>
    </mat-card-actions>
</mat-card>

<mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Luna</mat-card-title>
      <mat-card-subtitle>Centro</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/img/h4.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        PRECIO DESDE:
      </p>
      <p class="precio">
        $232
      </p>
      <p>
        Elige tu próximo destino
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" class="boton">Reservar</button>
    </mat-card-actions>
</mat-card>


