
<div class="banner">
  <div class="overlay">
      <div class="contenedor-banner">
          <h1>Autos de acuerdo a su necesidad</h1>
      </div>
  </div>
</div>

<h3>Categorias</h3>

<mat-form-field appearance="fill" class="cat">
  <mat-label>Eliga una Opción</mat-label>
  <select matNativeControl [disabled]="">
    <option value="" selected></option>
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
  </select>
</mat-form-field>

<mat-card class="galeria-card">
    <mat-card-title-group>
      <mat-card-title>Ford</mat-card-title>
      <mat-card-subtitle>Todo terreno</mat-card-subtitle>
      <img mat-card-xl-image src="../../../assets/img/a1.jpg" >
    </mat-card-title-group>
    <mat-card-content>
        <p>
            PRECIO DESDE:
          </p>
          <p class="precio">
            $990
          </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" class="boton">Agendar</button>
      </mat-card-actions>
    </mat-card>

<mat-card class="galeria-card">
    <mat-card-title-group>
      <mat-card-title>Mercedes Benz</mat-card-title>
      <mat-card-subtitle>Todo terreno</mat-card-subtitle>
      <img mat-card-xl-image src="../../../assets/img/a2.jpg" >
    </mat-card-title-group>
    <mat-card-content>
        <p>
            PRECIO DESDE:
          </p>
          <p class="precio">
            $233
          </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" class="boton">Agendar</button>
      </mat-card-actions>
</mat-card>

<mat-card class="galeria-card">
    <mat-card-title-group>
      <mat-card-title>Lamborghini</mat-card-title>
      <mat-card-subtitle>Todo terreno</mat-card-subtitle>
      <img mat-card-xl-image src="../../../assets/img/a3.jpg" >
    </mat-card-title-group>
    <mat-card-content>
        <p>
            PRECIO DESDE:
          </p>
          <p class="precio">
            $543
          </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" class="boton">Agendar</button>
      </mat-card-actions>
</mat-card>

<mat-card class="galeria-card">
    <mat-card-title-group>
      <mat-card-title>Audi</mat-card-title>
      <mat-card-subtitle>Todo terreno</mat-card-subtitle>
      <img mat-card-xl-image src="../../../assets/img/a4.jpg" >
    </mat-card-title-group>
    <mat-card-content>
        <p>
            PRECIO DESDE:
          </p>
          <p class="precio">
            $746
          </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" class="boton">Agendar</button>
      </mat-card-actions>
</mat-card>

<mat-card class="galeria-card">
    <mat-card-title-group>
      <mat-card-title>Lamborghini</mat-card-title>
      <mat-card-subtitle>Todo terreno</mat-card-subtitle>
      <img mat-card-xl-image src="../../../assets/img/a5.jpg" >
    </mat-card-title-group>
    <mat-card-content>
        <p>
            PRECIO DESDE:
          </p>
          <p class="precio">
            $576
          </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" class="boton">Agendar</button>
      </mat-card-actions>
</mat-card>

<mat-card class="galeria-card">
    <mat-card-title-group>
      <mat-card-title>Audi</mat-card-title>
      <mat-card-subtitle>Todo terreno</mat-card-subtitle>
      <img mat-card-xl-image src="../../../assets/img/a6.jpg" >
    </mat-card-title-group>
    <mat-card-content>
        <p>
            PRECIO DESDE:
          </p>
          <p class="precio">
            $132
          </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" class="boton">Agendar</button>
      </mat-card-actions>
</mat-card>

<mat-card class="galeria-card">
    <mat-card-title-group>
      <mat-card-title>Land Rover</mat-card-title>
      <mat-card-subtitle>Todo terreno</mat-card-subtitle>
      <img mat-card-xl-image src="../../../assets/img/a7.jpg" >
    </mat-card-title-group>
    <mat-card-content>
        <p>
            PRECIO DESDE:
          </p>
          <p class="precio">
            $232
          </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" class="boton">Agendar</button>
      </mat-card-actions>
</mat-card>

<mat-card class="galeria-card">
    <mat-card-title-group>
      <mat-card-title>Charger</mat-card-title>
      <mat-card-subtitle>Todo terreno</mat-card-subtitle>
      <img mat-card-xl-image src="../../../assets/img/a8.jpg" >
    </mat-card-title-group>
    <mat-card-content>
        <p>
            PRECIO DESDE:
          </p>
          <p class="precio">
            $243
          </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" class="boton">Agendar</button>
      </mat-card-actions>
</mat-card>


