<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="banner">
        <div class="overlay">
            <div class="contenedor-banner">
                <h1>Bienvenidos a la Agencia nmViajes</h1>
                <p>Espero encuentres lo que estabas buscando</p>
            </div>
        </div>
    </div>

    <h3>Pasajes Aéreos</h3>
    <p id="p">Oferta de Vuelos Nacionales e Internacionales</p>

    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Madrid</mat-card-title>
          <mat-card-subtitle>Desde Lima</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/img/madrid.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            PRECIO DESDE:
          </p>
          <p class="precio">
            $990
          </p>
          <p>
            Elige tu próximo destino
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="warn" class="boton">Agendar</button>
        </mat-card-actions>
    </mat-card>
      
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Buenos Aires</mat-card-title>
        <mat-card-subtitle>Desde Lima</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/img/buenos-aires.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          PRECIO DESDE:
        </p>
        <p class="precio">
          $396
        </p>
        <p>
          Elige tu próximo destino
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="warn" class="boton">Agendar</button>
      </mat-card-actions>
  </mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Cancun</mat-card-title>
      <mat-card-subtitle>Desde Lima</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/img/cancun.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        PRECIO DESDE:
      </p>
      <p class="precio">
        $258
      </p>
      <p>
        Elige tu próximo destino
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn" class="boton">Agendar</button>
    </mat-card-actions>
  </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Miami</mat-card-title>
        <mat-card-subtitle>Desde Lima</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/img/miami.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          PRECIO DESDE:
        </p>
        <p class="precio">
          $247
        </p>
        <p>
          Elige tu próximo destino
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="warn" class="boton">Agendar</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Mexico</mat-card-title>
        <mat-card-subtitle>Desde Lima</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../../../assets/img/mexico.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          PRECIO DESDE:
        </p>
        <p class="precio">
          $322
        </p>
        <p>
          Elige tu próximo destino
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="warn" class="boton">Agendar</button>
      </mat-card-actions>
  </mat-card>
    
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Santiago</mat-card-title>
      <mat-card-subtitle>Desde Lima</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/img/santiago-de-chile.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        PRECIO DESDE:
      </p>
      <p class="precio">
        $423
      </p>
      <p>
        Elige tu próximo destino
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn" class="boton">Agendar</button>
    </mat-card-actions>
</mat-card>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Bogota</mat-card-title>
    <mat-card-subtitle>Desde Lima</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="../../../assets/img/bogota.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      PRECIO DESDE:
    </p>
    <p class="precio">
      $756
    </p>
    <p>
      Elige tu próximo destino
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="warn" class="boton">Agendar</button>
  </mat-card-actions>
</mat-card>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Cartagena</mat-card-title>
      <mat-card-subtitle>Desde Lima</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="../../../assets/img/cartagena.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        PRECIO DESDE:
      </p>
      <p class="precio">
        $132
      </p>
      <p>
        Elige tu próximo destino
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn" class="boton">Agendar</button>
    </mat-card-actions>
  </mat-card>

  <p class="terminos">Terminos y Condiciones Generales
    <mat-icon>open_in_new</mat-icon>
  </p>

  <section>
    <div class="container">
      <div class="texto">
        <h4>Experiencia en todo momento</h4>
        <p>Cuando eliges volar con nosotros te         
          acompañamos en cada etapa
        </p>
      </div>
      <div class="resto">
        <mat-card class="example-card nuevo">
          <mat-card-title-group>
            <mat-card-title>Al preparar tu viaje</mat-card-title>
            <img mat-card-md-image src="../../../assets/img/a.png" width="150px">
          </mat-card-title-group>
          <mat-card-content>
            Lo que nececitas saber con anticipacion y asi evitar contratiempos
            <button mat-raised-button color="primary" class="boton">Conoce más</button>
          </mat-card-content>
        </mat-card>
        <mat-card class="example-card nuevo">
          <mat-card-title-group>
            <mat-card-title>En el Aereopuerto</mat-card-title>
            <img mat-card-md-image src="../../../assets/img/b.png" width="150px">
          </mat-card-title-group>
          <mat-card-content>
            Hacemos facil el dia de tu viaje y asi evitar perdidas de vuelo
            <button mat-raised-button color="primary" class="boton">Conoce más</button>
          </mat-card-content>
        </mat-card>
        <mat-card class="example-card nuevo">
          <mat-card-title-group>
            <mat-card-title>Durante el vuelo</mat-card-title>
            <img mat-card-md-image src="../../../assets/img/c.png" width="250px">
          </mat-card-title-group>
          <mat-card-content>
            Relajate y disfruta de nuestro servicio a bordo personalizado
            <button mat-raised-button color="primary" class="boton">Conoce más</button>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </section>

</body>
</html>
