<h1>Registrate y sigue volando</h1>

<div class="formulario">
    <form class="example-form">
      
        <table class="example-full-width" cellspacing="0"><tr>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nombre Completo</mat-label>
            <input matInput>
          </mat-form-field></td>
          <td><mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Correo Electronico</mat-label>
            <input matInput>
          </mat-form-field></td>
        </tr></table>
      
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Telephone</mat-label>
            <span matPrefix>+1 &nbsp;</span>
            <input type="tel" matInput placeholder="555-555-1234">
            <mat-icon matSuffix>mode_edit</mat-icon>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Contraseña</mat-label>
            <input type="password" name="" id="" matInput placeholder="Password">
        </mat-form-field>

    </form>
      
</div>
