<div class="banner">
    <div class="overlay">
        <div class="contenedor-banner">
            <h1>Recomendaciones para tener un excelente viaje</h1>
        </div>
    </div>
</div>

<mat-tab-group mat-align-tabs="end">
    <mat-tab label="Primero">
        <!-- Cards with media area -->
        <mat-card class="example-card">
        <mat-card-title-group>
        <mat-card-title class="t">Verificar la hora de Salida</mat-card-title>
        <mat-card-subtitle>Recondacion: Estar 1 hora antes del viaje</mat-card-subtitle>
        <img mat-card-sm-image src="../../../assets/img/a.png" width="300px" height="300px">
        </mat-card-title-group>
        <mat-card-content>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat facere aperiam suscipit distinctio eum, omnis magni voluptate provident similique, quaerat esse nulla laudantium dolorum dicta dolorem eligendi! Quaerat, voluptatem laborum?
        Error cupiditate iusto ea vero amet est natus maiores! Quaerat, eligendi quis ullam sequi perspiciatis dignissimos quisquam officia magni sit eius? Assumenda, qui. Placeat numquam libero eveniet blanditiis, voluptatibus voluptate!
        </mat-card-content>
        </mat-card>
    </mat-tab>
    <mat-tab label="Segundo">
        <mat-card class="example-card">
            <mat-card-title-group>
            <mat-card-title class="t">Durante el vuelo</mat-card-title>
            <mat-card-subtitle>Recondacion: Al existir turbulencias mantener la calama</mat-card-subtitle>
            <img mat-card-sm-image src="../../../assets/img/b.png" width="300px" height="300px">
            </mat-card-title-group>
            <mat-card-content>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat facere aperiam suscipit distinctio eum, omnis magni voluptate provident similique, quaerat esse nulla laudantium dolorum dicta dolorem eligendi! Quaerat, voluptatem laborum?
            Error cupiditate iusto ea vero amet est natus maiores! Quaerat, eligendi quis ullam sequi perspiciatis dignissimos quisquam officia magni sit eius? Assumenda, qui. Placeat numquam libero eveniet blanditiis, voluptatibus voluptate!
            </mat-card-content>
            </mat-card>
    </mat-tab>
    <mat-tab label="Tercero">
        <mat-card class="example-card">
            <mat-card-title-group>
            <mat-card-title class="t">Al retirarse del avion</mat-card-title>
            <mat-card-subtitle>Recondacion: Verificar todas sus pertenencias</mat-card-subtitle>
            <img mat-card-sm-image src="../../../assets/img/c.png" width="300px" height="300px">
            </mat-card-title-group>
            <mat-card-content>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat facere aperiam suscipit distinctio eum, omnis magni voluptate provident similique, quaerat esse nulla laudantium dolorum dicta dolorem eligendi! Quaerat, voluptatem laborum?
            Error cupiditate iusto ea vero amet est natus maiores! Quaerat, eligendi quis ullam sequi perspiciatis dignissimos quisquam officia magni sit eius? Assumenda, qui. Placeat numquam libero eveniet blanditiis, voluptatibus voluptate!
            </mat-card-content>
            </mat-card>
    </mat-tab>
</mat-tab-group>
